.App {
  text-align: center;
  margin: 50px auto;
  max-width: 1440px;

  &__task {
    &-new {
      margin-bottom: 20px;
    }
  }

  &__calendar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
